body{
    background-color: #5187A3;
    margin: 0;
    padding: 0;
    
}

h1{
    font-size: 3.5rem;
    font-style: italic;
    color: #E3B47C;
    background-color: #305A71;
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 0;

}

nav{
    position: absolute;
    left: 0;
    top: 150px;
    background-color: #305A71;
    color: #E3B47C;
    width: 175px;
    height: 200px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

a{
    text-decoration: none;
    color: #E3B47C;
    
}

hr{
    border-color: #E3B47C;
    width: 150px;
}

li{
    list-style: none;
    font-size: 1.25rem;
}

ul {
    padding: 0px
}


h2{
    font-size: 1rem;
    background-color: #E3B47C;
    color: #305A71;
    margin: 0 100px 0 0;
    border-bottom-right-radius: 3px;
}

main{
    margin: 0 300px;
    padding: 20px 10px 40px;
    font-size: 0.90rem;
    background-color: #F2DECA;
    text-align: justify;
    position: fixed;
}